@model IEnumerable<NetNews.Models.AppDataModels.SiteDataLookupModel>
@using AppHelpers.App_Code
@using System.Text.RegularExpressions
@{
    var Url = "https://" + Context.Request.Host + Context.Request.Path; //get current url path

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- ADMIN Head -->
    <partial name="~/Views/Shared/AccountLayout/_Head.cshtml" />
</head>

<body class="sb-nav-fixed">
    <!-- ADMIN Navigation -->
    <partial name="~/Views/Shared/AccountLayout/_Navigation.cshtml" />
    <div id="layoutSidenav">
        <!-- ADMIN Sidebar -->
        <partial name="~/Views/Shared/AccountLayout/_LeftSideBar.cshtml" />
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Manage Site Data</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Manage Site Data</li>
                    </ol>

                    <!-- Content -->
                    <!-- Action messages partial -->
                    <partial name="~/Views/Shared/_ProcessMessage.cshtml" />

                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="card bg-light text-dark">
                                <div class="card-body text-center">
                                    <h3>
                                        <a asp-action="ManageSiteData" asp-controller="Admin" asp-route-group="Social">
                                            Social
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="card bg-light text-dark">
                                <div class="card-body text-center">
                                    <h3>
                                        <a asp-action="ManageSiteData" asp-controller="Admin" asp-route-group="SiteContent">
                                            Site Content
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="card bg-light text-dark">
                                <div class="card-body text-center">
                                    <h3>
                                        <a asp-action="ManageSiteData" asp-controller="Admin" asp-route-group="SiteSetting">
                                            Site Setting
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="card bg-light text-dark">
                                <div class="card-body text-center">
                                    <h3>
                                        <a asp-action="ManageSiteData" asp-controller="Admin" asp-route-group="SiteScript">
                                            Site Script & Widgets
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="card bg-light text-dark">
                                <div class="card-body text-center">
                                    <h3>
                                        <a asp-action="ManageSiteData" asp-controller="Admin" asp-route-group="SiteInfo">
                                            Site Info
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="card bg-light text-dark">
                                <div class="card-body text-center">
                                    <h3>
                                        <a asp-action="ManageSiteData" asp-controller="Admin" asp-route-group="SEO">
                                            Site SEO
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="card bg-light text-dark">
                                <div class="card-body text-center">
                                    <h3>
                                        <a asp-action="ManageSiteData" asp-controller="Admin">
                                            All
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.Count() > 0)
                    {
                        int RowCount = 0;
                        <div class="row">
                            <div class="col-12 p-2">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table mr-1"></i>
                                        Manage Site Data
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Uinque Key</th>
                                                        <th class="@ViewBag.ShowDataGroup">Data Group</th>
                                                        <th>Value</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Uinque Key</th>
                                                        <th class="@ViewBag.ShowDataGroup">Data Group</th>
                                                        <th>Value</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                    <tr>
                                                        <td>
                                                            @{
                                                                RowCount += 1;
                                                            }
                                                            @RowCount
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UinqueKey)
                                                        </td>
                                                        <td class="@ViewBag.ShowDataGroup">
                                                            @Html.DisplayFor(modelItem => item.DataGroup)
                                                        </td>
                                                        <td style="max-height: 20em; overflow-y: scroll;">
                                                            @{
                                                                if (Regex.IsMatch(item.Value, "<(.|\n)*?>"))
                                                                {
                                                                    <span>@Html.Raw(item.Value)</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@TextHelper.FormatLongText(item.Value, 60)</span>
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            <a asp-action="EditSiteData" asp-controller="Admin" asp-route-id="@item.UinqueKey" class="btn btn-success" role="button">
                                                                <i class="fas fa-check text-white"></i> Edit
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning col-12">
                            <strong>No data available!</strong>
                        </div>
                    }

                </div>
            </main>
            <!-- ADMIN Footer -->
            <partial name="~/Views/Shared/AccountLayout/_AdminFooter.cshtml" />
        </div>
    </div>

    <!-- Modals data -->
    <partial name="~/Views/Shared/Modals/_ActionModals.cshtml" view-data="ViewData" />

    <!-- ADMIN RESOURCES -->
    <partial name="~/Views/Shared/AccountLayout/_AdminFooterScripts.cshtml" />
</body>
</html>
