@model NetNews.Models.PostsDataModel.vwPostsModel
@using AppHelpers.App_Code

@{
    string AudioDirectory = DateTime.Parse(Model.DateAdded.ToString()).ToString("MM-yyyy");
}

<div class="col-10 offset-1">

    <!-- Title -->
    <h1 class="mt-4">
        @Html.DisplayFor(model => model.PostTitle)
    </h1>

    <!-- Author -->
    <p class="lead">
        by
        <a target="_blank" asp-action="RedirectAuthor" asp-controller="Authors" asp-route-id="@Model.PostAuthor">
            @AccountHelper.GetAccountData(Model.PostAuthor, "FullName")
        </a>
    </p>

    <hr>

    <!-- Preview Image -->
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-6 mb-2">
            <div class="card zoom-xm">
                <img class="card-img-top" src="~/files/@PostHelper.GetPostImageLink(Model.PostID)" alt="@TextHelper.FormatLongText(Model.PostTitle, 15).ToLower()" height="350">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-music mr-2"></i>@Model.PostTitle</h5>
                    <div class="bg-secondary border border-dark rounded pt-2 mb-2 text-center">
                        <audio controls controlsList="nodownload">
                            <source src="~/files/audios/@AudioDirectory/@Model.PostAudioLink" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <a type="application/octet-stream" href="~/files/audios/@AudioDirectory/@Model.PostAudioLink" download class="btn btn-outline-secondary float-right">
                            <i class="fas fa-download"></i>
                            Download
                        </a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- Date/Time -->
    <p>
        @PostHelper.FormatPostDate(Model.DateAdded.ToString())

        <span class="float-right">
            <small>Editor: @AccountHelper.GetAccountData(Model.PostEditor, "FullName")</small>
        </span>
    </p>

    <hr>

    <!-- Post Content -->
    @if (!string.IsNullOrEmpty(Model.PostContent))
    {
        <div>
            @Html.Raw(Model.PostContent)
        </div>
        <hr>
    }

    <p class="font-weight-bold">
        Tags
    </p>
    <p>
        @Model.PostTags
    </p>
    <hr>

    <!-- Author -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="@AccountHelper.GetAccountProfilePicture(Model.PostAuthor)" width="50" height="50" alt="">
        <div class="media-body">
            <p>
                Author
            </p>
            <h5 class="mt-0">
                <a target="_blank" asp-action="RedirectAuthor" asp-controller="Authors" asp-route-id="@Model.PostAuthor" class="text-decoration-none text-dark">
                    @AccountHelper.GetAccountData(Model.PostAuthor, "FullName")
                </a>
            </h5>
            @TextHelper.FormatLongText(TextHelper.StripHTML(AccountHelper.GetAccountData(Model.PostAuthor, "Biography")), 250)
        </div>
    </div>

</div>